html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
  width: 100%;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  color: rgb(180, 180, 180);
}

tr:nth-child(even) {
  background-color: #ebebeb;
}
tr:hover {
  background-color: rgb(194, 194, 194);
}
tr:hover .checkBox {
  visibility: visible;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
.pagination {
  max-width: 350px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
  margin: auto;
}
.selectPageSize {
  float: right;
}
